@charset "utf-8";
/* CSS Document */
/*外层框架样式*/

body{


}

.container-fluid{

	/*margin-top: 250px;
	height: 400px;
	background-color: green;
	display: block;*/
width: 100%;
/*margin-left: -15px;margin-right: -15px;*/

}
.pan{
	opacity:0.6;
	border: 2px solid #D5CECE;
	background-color: #FBF8F8;
	border-radius: 20px;
	width: 440px;
	height:280px;
	text-align:center;
	padding-left: 60px;
	padding-top: 60px;
	margin-left: 30%;
	margin-top: 100px;
	position:relative;


}

.heading{

	width: 100%;
	height: 100px;
	background-image: url(../img/head.png);
}

.middle{

	background:top center no-repeat;
	background-image: url(../img/bg2.jpg) ;
	background-size: cover;
    width: 100%;
    height: 800px;


}
#wrap{
    min-width: 100%;
    position: absolute;
    background: #eff3f6 bottom;
    min-height: 100%;
    overflow: hidden;


}
#leftnav{
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    height: 100%;
    background: #4d5e70 bottom;
}
#person{
text-align: center;
}
#person p{
color: #FFFFFF;
}
ul{
 margin: 0;
padding: 0;

}
li{ 
list-style: none;
width: 198px; 
line-height:40px;
text-align: center;
}
img{
vertical-align:center;
height: 24px;
width: 24px;
border: 0;
}
a{
color: #FFFFFF;
text-decoration: none;
text-align: center;}
#right0{
height: 900px;
margin-left: 200px;
padding-top:30px;




}
/*body{
  background-color: #EBEBEB;
}*/
.tex1{

width: 70px;
float: left;
margin-left: 6px;
}
.right .form-group{

margin:4px auto;  
}
.left{
width: 490px;

}
.right{
width: 400px;
position: absolute;
left: 430px;
top: 0px;
/*border: 1px solid #971B1B;*/
}
.denji{
  position: relative;
  width: 800px;
  height: 650px;
 background-color: #FFFFFF;
 border-radius: 20px;
}
input::-webkit-input-placeholder {
        color: #aab2bd;
        font-size: 12px;
         text-align: right;
 }
.fw{
font-color:red;
	
}
 .container{
  
/*  border: 1px solid red;*/
  width: 870px;
  
 }